/* General styling */
* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Color variables */
:root {
  --bg: #fff;
  --green: linear-gradient(217deg, #168aad, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #76c893, rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, #d9ed92, rgba(0,0,255,0) 70.71%);
  --blue: linear-gradient(217deg, #023e8a, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #48cae4, rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, #caf0f8, rgba(0,0,255,0) 70.71%);
  --red: linear-gradient(217deg, #cc444b, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #df7373, rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, #ffcad4, rgba(0,0,255,0) 70.71%);
  --orange: linear-gradient(217deg, #ff4800, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #ff7900, rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, #e9ff70, rgba(0,0,255,0) 70.71%);
  --gray: #D9ECEB;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.container {
  display: flex;
  margin: 8px 19px 0px 19px;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
}

.container .steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 19px 0px 19px;
  border-radius: 20px;
  width: 320px;
  height: 140px;
}

.child {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  width: 40%;
  height: 170px;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  background-color: var(--bg);
}

.child p {
  font-weight: 500;
}

.child-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100px;
  border-radius: 20px;
  margin: 10px;
  background-color: var(--bg);
}


.child-steps p {
  margin: 0; /* Resetting margin to zero */
}



/* 
 */
 .circular{
  height: 100px;
  width: 100px;
  position: relative;
}

.circular .inner, .circular .outer, .circular .circle{
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.circular .inner{
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: var(--bg);
  border-radius: 100%;
}

.circular .circle{
  z-index: 1;
  box-shadow: none;
}
.circular .numb {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 20px;
  font-weight: 500;
}

.circular .tot-numb {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 16px;
  font-weight: 300;
}

.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
  background-color: var(--gray);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}


.circle .left .progress{
  z-index: 1;
  animation: left 4s linear both;
  background-color: var(--gray);
}
@keyframes left {
  100%{
    transform: rotate(180deg);
  }
}
.circle .right{
  z-index: 3;
  transform: rotate(180deg);
  background-color: var(--gray);
}
.circle .right .progress{
  animation: right 4s linear both;
  animation-delay: 4s;
}

.circle .dot{
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  animation: dot 8s linear both;
  transform-origin: 0% 50%;
}
.circle .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

@keyframes dot{
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
    z-index: 4;
  }
  100% {
    transform: rotate(90deg);
    z-index: 4;
  }
}

/* 
 */
 .circular{
  height: 100px;
  width: 100px;
  position: relative;
}

.circular .inner, .circular .outer, .circular .circle{
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.circular .inner{
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: var(--bg);
  border-radius: 100%;
}

.circular .circle{
  z-index: 1;
  box-shadow: none;
}
.circular .numb {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 20px;
  font-weight: 500;
}

.numb-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-size: 27px;
  font-weight: 500;
}

.numb-burnt {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-size: 27px;
  font-weight: 500;
}

.fa-fire, .fa-shoe-prints {
  font-weight: 600;
}

.circular .tot-numb {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 16px;
  font-weight: 500;
}

.tot-numb {
  font-weight: 500;
}

.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}
.circle .bar .progress, span{
  background: linear-gradient(217deg, #2C72FF, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #7066FF, rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, #FFAC24, rgba(0,0,255,0) 70.71%);
}

#green {
  background: var(--green);
}

#blue {
  background: var(--blue);
}

#red {
  background: var(--red);
}

#orange {
  background: var(--orange);
}

.circle .left .progress{
  z-index: 1;
  animation: left 4s linear both;
  background-color: var(--gray);
}
@keyframes left {
  100%{
    transform: rotate(180deg);
  }
}
.circle .right{
  z-index: 3;
  transform: rotate(180deg);
  background-color: var(--gray);
}
.circle .right .progress{
  animation: right 4s linear both;
  animation-delay: 4s;
}

.circle  span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


.child:first-child .circle .bar.left .progress {
  z-index: 1;
  animation: left-calories 4s linear both;
  background-color: var(--gray);
}

@keyframes left-calories {
  100% {
    transform: rotate(180deg);
  }
}

.child:last-child .circle .bar.left .progress {
  z-index: 1;
  animation: left-protein 4s linear both;
  background-color: var(--gray);
}

@keyframes left-protein {
  100% {
    transform: rotate(126deg);
  }
}

.container .child.carbs .circle .bar.left .progress {
  z-index: 1;
  animation: left-carbs 4s linear both;
  background-color: var(--gray);
}

@keyframes left-carbs {
  100% {
    transform: rotate(162deg); /* Adjust the rotation angle as needed */
  }
}

.child.fats .circle .bar.left .progress {
  z-index: 1;
  animation: left-fats 4s linear both;
  background-color: var(--gray);
}

@keyframes left-fats {
  25% {
    transform: rotate(45deg); /* Adjust the rotation angle to achieve 25% progress */
  }
  100% {
    transform: rotate(162deg);
  }
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background-color: var(--bg); /* Optional: Add background color */
}

.nav-bg {
  font-size: 20px;
  color: gray;
  width: 100%;
  height: 70px;
  border-top: solid 1px #E5E3FF;
  padding: 0 10px; /* Optional: Add padding for better visibility */
}


.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
  width: 100%;
  height: 35px;
  margin-left: 8px;
}

.names {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 60px;
}

.names p {
  font-size: 12px;
  margin: 0px;
}

.icons i:hover {
  color: #7066FF
}

.active {
  color: black;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 95%;
  overflow-x: hidden;

}

.info {
  background: linear-gradient(217deg, #2F9A92, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #2C72FF, rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, #FF7621, rgba(0,0,255,0) 70.71%);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* --------------------LOG BOOK PAGE --------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */


.breakfast-lunch-dinner {
  height: 100vh;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  padding-bottom: 70px; /* Adjust the padding to account for the fixed navbar height */
  background: linear-gradient(217deg, #2F9A92, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #2C72FF, rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, #FF7621, rgba(0,0,255,0) 70.71%);;
}


.title {
  margin: 25px;
}
.title h1 {
  font-weight: 500;
  margin: 5px;
}

.title p {
  font-weight: 500;
  margin: 5px;
}

.title-container {
  width: 100%;
  max-height: 100%;
  border-radius: 20px;
  background-color: var(--bg);
}

.food {
  padding: 5px 5px 5px;
  display: flex;
  justify-content: space-between;
}

.meal {
  padding: 5px 5px 5px;
  display: flex;
  justify-content: space-between;
}

.add-btn {
  background-color: #2C72FF; /* Green */
  border: none;
  color: white;
  padding: 15px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
}

.button-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}







